@import "compass/reset";
@import "compass/css3"; 

.middle
	{
		width: 100%;
		min-height: 770px;
	}
.us_under
	{
		background-image: url(../images/proccess_08.png);
		width: 588px;
		height: 432px;
		margin-top: -21.9em;
	}